{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/plugins.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Home</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        <section class="container" >
            <div class="shadow-sm py-4 px-2  bg-white" style="min-height:50vh">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <h2 class="text-center fw-bold mb-3">Youtube video downloader</h2>
                        <form method="post" action="{% url 'downloader' %}">
                            {% csrf_token %}
                            <div class="d-flex justify-content-center w-100 gap-2">
                                
                                <div class="form-outline">
                                    <input type="url" name="url" id="form12" class="form-control" placeholder="enter url of your youtube video" />
                                    
                                </div>

                                <br>
                                <button type="submit" class="btn btn-primary px-4 py-2">Download</submit>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>






    </main>
    {% include 'includes/footer.html' %}
</body>
</html>